.messages-widget {
  position: fixed;
  width: 360px;
  right: 30px;
  bottom: 42px;
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  /* Other styles */
  /*.btn-primary,
  .btn-primary:focus,
  .btn-hover-primary:hover,
  .btn-hover-primary:active,
  .btn-hover-primary.active,
  .btn.btn-active-primary:active,
  .btn.btn-active-primary.active,
  .dropdown.open > .btn.btn-active-primary,
  .btn-group.open .dropdown-toggle.btn.btn-active-primary {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff !important;
  }
  .btn {
    cursor: pointer;
    // background-color: transparent;
    color: inherit;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid 0;
    font-size: 11px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .form-control {
    font-size: 11px;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
  }
  .nano>.nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
  }*/
}
.messages-widget.open {
  border-radius: 6px;
  margin-bottom: 24px;
}
.messages-widget.panel {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
}
.messages-widget.panel .panel-heading {
  position: relative;
  height: 50px;
  padding: 0;
  border-bottom: 1px solid #eee;
}
.messages-widget.panel .panel-heading .panel-control {
  height: 100%;
  position: relative;
  float: right;
  padding: 0 15px;
}
.messages-widget.panel .panel-heading .panel-control > .btn:last-child, .messages-widget.panel .panel-heading .panel-control > .btn-group:last-child > .btn:first-child {
  border-bottom-right-radius: 0;
}
.messages-widget.panel .panel-heading .panel-control > .btn, .messages-widget.panel .panel-heading .panel-control > .dropdown-toggle.btn {
  border: 0;
}
.messages-widget.panel .panel-heading .panel-title {
  font-weight: normal;
  padding: 0 20px 0 20px;
  font-size: 1.416em;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.messages-widget.panel .panel-heading, .messages-widget.panel > :first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.messages-widget .panel-body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 380px;
  overflow: hidden;
}
.messages-widget .panel-body .messages-list {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.messages-widget .panel-body .messages-list .media-block .mar-btm {
  margin-bottom: 15px;
}
.messages-widget .panel-body .messages-list .media-block .media-left {
  display: block;
  float: left;
}
.messages-widget .panel-body .messages-list .media-block .media-right {
  display: block;
  float: right;
}
.messages-widget .panel-body .messages-list .media-block .media-left .img-sm,
.messages-widget .panel-body .messages-list .media-block .media-right .img-sm {
  width: 46px;
  height: 46px;
}
.messages-widget .panel-body .messages-list .media-block .media-body {
  display: block;
  overflow: hidden;
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.messages-widget .panel-body .messages-list .media-block .media-body .speech {
  position: relative;
  background: #b7dcfe;
  color: #317787;
  display: inline-block;
  border-radius: 0;
  padding: 12px 20px;
}
.messages-widget .panel-body .messages-list .media-block .media-body .speech:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #b7dcfe;
  margin: 15px 0 0 -6px;
}
.messages-widget .panel-body .messages-list .media-block .media-body .speech .media-heading {
  font-size: 1.2em;
  color: #317787;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 300;
}
.messages-widget .panel-body .messages-list .media-block .media-body .speech .speech-time {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 0.8em;
  font-weight: 300;
}
.messages-widget .panel-body .messages-list .media-block .media-right + .media-body .speech {
  background: #ffda87;
  color: #a07617;
  text-align: right;
  float: right;
}
.messages-widget .panel-body .messages-list .media-block .media-right + .media-body .speech:before {
  left: auto;
  right: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #ffdc91;
  border-right: 0;
  margin: 15px -6px 0 0;
}
.messages-widget .panel-body .messages-list .media-block .media-right + .media-body .speech .media-heading {
  color: #a07617;
}

/*# sourceMappingURL=messages.css.map */
